/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/config/app.php
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.editorconfig
.gitattributes
Phoenix.sublime-workspace
api/swagger/batman-swagger.yaml
storage/tinx/
.php_cs.cache
.env.example
/config/database.php
